<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [1]:
# create a list of 10 student (use just first name)
students = ['Amin','Ricky','Vincent','Reed','Isaballe','Noah','Faez','Mary','David','Christine']

In [2]:
# Print the list
print(students)

['Amin', 'Ricky', 'Vincent', 'Reed', 'Isaballe', 'Noah', 'Faez', 'Mary', 'David', 'Christine']

In [16]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep

for count, student in enumerate(students,1):
    count=format(count,'02d')
    print(f"{count}  {student}.")

01  Amin.
02  Ricky.
03  Vincent.
04  Reed.
05  Isaballe.
06  Noah.
07  Faez.
08  Mary.
09  David.
10  Christine.

In [25]:
# print the list of students in reverse order one student in a line with its index
for count, student in reversed(list(enumerate(students,1))):
    count=format(count,'02d')
    print(f"{count}, {student}.")

10, Christine.
09, David.
08, Mary.
07, Faez.
06, Noah.
05, Isaballe.
04, Reed.
03, Vincent.
02, Ricky.
01, Amin.

In [26]:
# print the student list in random order
# hint look up the function random.sample
import random
randomStudent = random.sample(students,10)
print(randomStudent)

['Faez', 'Isaballe', 'Vincent', 'Reed', 'Ricky', 'Christine', 'Mary', 'David', 'Noah', 'Amin']

In [36]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Student and their marks: \n")
for student in studentsAndMarks:
    print(f"{student} {studentsAndMarks[student]}")

Student and their marks:

Amin 87
Ricky 45
Vincent 76
Reed 64
Isaballe 66
Noah 90
Faez 55
Mary 73
David 69
Christine 75



---



---



> > > > > > > > > Â© 2021 Institute of Data


---



---